<!DOCTYPE html>
<html lang="zh" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>安装 | GrapheneOS</title>
        <meta name="description" content="如何安装GrapheneOS：一个专注于安全和隐私，兼容安卓应用的移动端操作系统。"/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="GrapheneOS安装"/>
        <meta property="og:description" content="如何安装GrapheneOS：一个专注于安全和隐私，兼容安卓应用的移动端操作系统。"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS标志"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/install/"/>
        <link rel="canonical" href="https://grapheneos.org/install/"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
	<!-- <link rel="me" href="https://grapheneos.social/@GrapheneOS"/> -->
        [[js|/js/redirect.js]]
    </head>
    <body>
        {% with current_page="install", wip="done" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="install">
            <h1><a href="#install">安装</a></h1>

            <p>GrapheneOS有两种官方支持的安装方法。您可以选择推荐给大多数用户的<a
            href="/install/web">基于WebUSB的安装页面</a>，或选择面向更了解技术的用户的<a
            href="/install/cli">命令行安装指南</a>。
            </p>

            <p>我们强烈建议使用以上两种官方安装方法之一。第三方
            安装指南往往会过时，并且常常包含受到误导的建议和
            错误信息。</p>

            <p>如果您在安装过程中遇到困难，请在<a
            href="/contact#community">GrapheneOS官方聊天频道（英文）</a>寻求
            帮助。那里几乎总有人愿意提供帮助。在请求帮助之前，请尝试
            遵循指南的内容自行操作，然后针对您遇到困难的步骤
            请求帮助。</p>

            <p>命令行方法需要在拥有正确的fastboot和OpenSSH软件包的操作系统上
            进行，并且您需要对整个过程有足够的了解，以避免盲目依赖我们
            网站上的指示。而基于网页的安装方法只需要一个支持WebUSB的
            浏览器，不需要其他任何软件，而且您仍然不必完全信任我们的
            服务器基础设施，因为您可以检查启动时验证所用密钥的哈希值。</p>
        </main>
        {% include "footer.html" %}
    </body>
</html>
