<!DOCTYPE html>
<!-- BEGIN MIT LICENSE https://github.com/GrapheneOS/grapheneos.org/blob/main/LICENSE -->
<html lang="zh" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>GrapheneOS：专注隐私与安全的手机操作系统</title>
        <meta name="description" content="GrapheneOS是一个专注于安全和隐私的移动端操作系统，兼容安卓应用。"/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="GrapheneOS：专注隐私与安全的手机操作系统"/>
        <meta property="og:description" content="GrapheneOS是一个专注于安全和隐私的移动端操作系统，兼容安卓应用。"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS标志"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/"/>
        <link rel="canonical" href="https://grapheneos.org/"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
	<!-- <link rel="me" href="https://grapheneos.social/@GrapheneOS"/> -->
        [[js|/js/redirect.js]]
    </head>
    <body>
        {% with current_page="/", wip="done" %}
            {% include "header.html" %}
        {% endwith %}
        <main class="normalize" id="grapheneos">
            <div class="content hero">

                <div>
<!-- END MIT LICENSE -->

<!-- BEGIN MIT LICENSE /LICENSE -->
                    <h1><a href="#title">GrapheneOS译站</a></h1>
                    <p>夺回手机的控制权。</p>
                    <p>做应用的用户，而非人质。</p>
                    <p>做手机厂商的消费者，而非阶下囚。</p>
                    <p>让流氓软件无从下手。</p>
                    <p>使用GrapheneOS。</p>
                    <p>&nbsp;</p>
                    <p><a href="/home">GrapheneOS简介</a> · <a href="/install">安装GrapheneOS</a> · <a href="https://grapheneos.org">GrapheneOS官网（英文）</a> · <a href="/disclaimers">声明</a></p>
                    <p>&nbsp;</p>
		    <p>这是一个关于GrapheneOS资料的个人翻译站点，<strong><u>目前仍在缓慢施工中</u></strong>。</p>
                    <p>本站旨在将官方网站的内容及其丰富的隐私安全资料中文化，并提供一些使用技巧。本站由个人维护，精力有限。由于GrapheneOS更新速度较快，部分内容可能无法在官方更新后及时跟进，还请谅解。如有出入，请以官方内容为准。详见声明页面。</p>
<!-- END MIT LICENSE -->

<!-- BEGIN MIT LICENSE https://github.com/GrapheneOS/grapheneos.org/blob/main/LICENSE -->
                </div>

                <figure class="device-img">
                    <img class="phone-img" width="276" height="579" src="[[path|/pixel-7-pro.svg]]" alt=""/>
                    <img class="phone-logo-img" width="200" height="200" src="[[path|/mask-icon.svg]]" alt=""/>
                </figure>

            </div>

        </main>
        {% include "footer.html" %}
    </body>
</html>
<!-- END MIT LICENSE -->
