<!DOCTYPE html>
<!-- BEGIN MIT LICENSE https://github.com/GrapheneOS/grapheneos.org/blob/main/LICENSE -->
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>GrapheneOS: the private and secure mobile OS</title>
        <meta name="description" content="GrapheneOS is a security and privacy focused mobile OS with Android app compatibility."/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="GrapheneOS: the private and secure mobile OS"/>
        <meta property="og:description" content="GrapheneOS is a security and privacy focused mobile OS with Android app compatibility."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS logo"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/"/>
        <link rel="canonical" href="https://grapheneos.org/"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
	<!-- <link rel="me" href="https://grapheneos.social/@GrapheneOS"/> -->
        [[js|/js/redirect.js]]
    </head>
    <body>
        {% with current_page="/", wip="done" %}
            {% include "header.html" %}
        {% endwith %}
        <main class="normalize" id="grapheneos">
            <div class="content hero">

                <div>
<!-- END MIT LICENSE -->
<!-- BEGIN CC-BY-SA-4.0 LICENSE /LICENSE-CC-BY-SA-4.0 -->
                    <h1><a href="#title">GrapheneOS译站</a></h1>
                    <p>关于GrapheneOS资料的个人翻译站点。施工中……</p>
<!-- END CC-BY-SA-4.0 LICENSE -->
<!-- BEGIN MIT LICENSE https://github.com/GrapheneOS/grapheneos.org/blob/main/LICENSE -->
                </div>

                <figure class="device-img">
                    <img class="phone-img" width="276" height="579" src="[[path|/pixel-7-pro.svg]]" alt=""/>
                    <img class="phone-logo-img" width="200" height="200" src="[[path|/mask-icon.svg]]" alt=""/>
                </figure>

            </div>

        </main>
        {% include "footer.html" %}
    </body>
</html>
<!-- END MIT LICENSE -->
