name: Validate, process, and publish static files

on: [pull_request, push]

jobs:
  static:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        cache: npm
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: pip

    - run: sudo apt-get update
    - run: sudo apt-get -y install libxml2-utils yajl-tools moreutils zopfli
    - run: npm ci --ignore-scripts
    - run: 'pip install --require-hashes --only-binary :all: -r requirements.txt'

    - name: Process static
      run: ./process-static
    - name: Upload as github-pages
      uses: actions/upload-pages-artifact@v3
      with:
        path: static-tmp/
        name: github-pages
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: static
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy github-pages to github pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages
